body{
    margin: 0;
    font-family: "merivaregular",Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}
.frooti-logo{
    padding-top: 25px;
    padding-left: 25px;
    height: 27px;
}
